/* basic reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* screen */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}

/* start Screen */
#start-screen h1{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p{
   color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

/* tiêu đề câu hỏi */
.quiz-header {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* câu hỏi */
#question-text {
    margin-bottom: 1rem;
    color: #333;
    line-height: 1.4;
    font-size: 1.5rem;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answers-btn{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

/* khi hover vào câu trả lời */
.answers-btn:hover{
    background-color: #eadbc8;
    color: #fff;
    border-color: #dac0ae;
}

.answers-btn.correct{
    background-color: #e6fff0;
    color: #28a745;
    border-color: #a3f0c4;
}

.answers-btn.incorrect{
    background-color: #fff0f0;
    color: #ffbdbd;
    border-color: #dc3545;
}

.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.3s ease;
}

/* result */
#result-screen h1{
    color: #e86a33;
    margin-bottom: 30px;
    font-size: 2rem;
}

#result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px; 
}

#result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#result-message{
    font-size: 1.5rem;
    color: #e86a33;
    font-weight: 600;
}

button{
    background-color: #e86a33;
    color: white;
    border: none;
    background-origin: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #d45b28;
}